<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false, controller: "sign"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control", id:"floatingEmail", placeholder: "Email"%>
    <%= f.label :email, for: "floatingEmail" %>
  </div>

  <div class="form-floating mb-3">
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id:"floatingPassword",  placeholder: "Password" %>
     <%= f.label :password, for:"flotingPassword" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="form-floating mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control", id:"floatingConfirmPassword",  placeholder: "Password"%>
     <%= f.label :password_confirmation, for:"floatingConfirmPassword" %>
  </div>
  <div class="mb-3">
  <% if flash[:recaptcha_error] %>
      <p class="alert alert-danger"> <%= flash[:recaptcha_error] %> </p>
  <% end %>
    <%= recaptcha_tags %>
  </div>
  <div class="actions mb-3">
    <%= f.submit "Sign up", id: "sign_up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
