<div id="<%= dom_id equipment %>">
  <p>
    <strong>Free weigth:</strong>
    <%= equipment.free_weigth %>
  </p>

  <p>
    <strong>Boolean,:</strong>
    <%= equipment.boolean, %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= equipment.name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= equipment.string %>
  </p>

</div>
