<div class="container">



<%= form_with(model: equipment, class: "form") do |form| %>
  <% if equipment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
        <% equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :free_weigth, class: "form-label" %>
    <%= form.select :free_weigth, [["Peso libre", true], ["Maquina", false]], {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, [["Funcionando", 0], ["Fuera de servicio", 1], ["En reparacion", 2]], {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

