<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= client.birthdate %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= client.membership %>
  </p>

  <p>
    <strong>Emergency cname:</strong>
    <%= client.emergency_cname %>
  </p>

  <p>
    <strong>Emergency cphone:</strong>
    <%= client.emergency_cphone %>
  </p>

</div>
