<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
<%= link_to "Cerrar sesion", destroy_user_session_path, data: {"turbo-method": :delete}%>
<%if !current_user.otp_required_for_login %>
  <%= button_to "Habilitar 2FA", users_otp_enable_path, method: :patch %>
<%end%>
